@tailwind base;
@tailwind components;
@tailwind utilities;

.table-container {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

input,
select {
  outline: none;
}

/* WebKit browsers (Chrome, Safari) */
.table-container::-webkit-scrollbar {
  height: 8px;
}

.table-container::-webkit-scrollbar-thumb {
  background: #115ba4;
  border-radius: 4px;
}

.table-container::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 4px;
}

/* Firefox */
.table-container {
  scrollbar-width: thin;
  scrollbar-color: #115ba4 #f1f1f1;
}

.table-container::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 4px;
}

.table-container::-webkit-scrollbar-thumb {
  background-color: #115ba4;
  border-radius: 4px;
}
